body {
    background-color: #ed64a261;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
    font-size: 100%;
    text-align: center;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.navbar {
    width: 100%;
    background-color: #ed64a261;
    overflow: auto;
    float: center;
    position: fixed;
}


/* Navbar links */

.navbar a {
    float: center;
    text-align: center;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.dd {
    background-color: #ed64a261;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;

}

/* Navbar links on mouse-over */

.navbar a:hover {
    background-color: rgb(247, 179, 216);
}


/* Current/active navbar link */

.active {
    background-color: #4CAF50;
}

#text_wrapper {
    margin: 40px;
    border: 1px solid #ccc;
}

#text {
    outline: none;
    margin: 10px;
    min-height: 200px;
}

#text img {
    width: 20px;
}

button {
    outline: none;
    margin: 10px;
    min-height: 40px;
    min-width: 400px;
    font-size: 40px;
    background-color: #ed64a261;
}

.btn {
    border: none;
    background-color: #ed64a261;
    /* padding: 14px 28px; */
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
  }
  
.btn:hover {
    background: #df498ccb;
}
  

.registerTitle {
    background: #f58bbacb;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;

}


.panel-body {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



ul {
    /* list-style-type: none; */
    /* margin: 0; */
    /* padding: 0; */
    /* overflow: hidden; */
    background-color: #bd1661cb;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif

}

pp {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif
}

ppp {
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    font-family: "Comic Sans MS", cursive, sans-serif

}
pppp {
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif

}

.center {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: "Comic Sans MS", cursive, sans-serif
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    /* text-decoration: none; */
}

li a:hover {
    background-color: #df498ccb;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: normal;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   height: 200px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #ed64a261;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
